* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s all;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#title {
  width: 15%;
  height: max-content;
  min-width: 150px;
}

#title svg path {
  fill: black;
  stroke: #d9acff;
  stroke-width: 0.08;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: svgWithStrokeAppearAnimation 8s linear infinite;
}

@keyframes svgWithStrokeAppearAnimation {

  0%,
  100% {
    stroke: #d9acff;
    fill: #180161;
    stroke-dashoffset: 100;
  }

  25%,
  75% {
    fill: #4f1787;
    stroke-dashoffset: 100;
  }

  40%,
  60% {
    stroke-dashoffset: 0;
  }

  42%,
  58% {
    fill: #eb3678;
  }

  50% {
    stroke: rgb(191, 123, 255, 0.781);
    fill: #aeff00;
    stroke-dashoffset: 0;
  }
}

#section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 0px 50px;
  font-size: 2rem;
}

#player1ScreenText,
#player2ScreenText {
  --baseColor: #ff7eb8;
  --textColor: black;
  position: relative;
  display: flex;
  width: 500px;
  height: 150px;
  font-size: 7rem;
  justify-content: center;
  align-items: center;
  scale: 1.3;
}

#player1ScreenText {
  --textShadowColor: #00ffc7;
  --endTextColor: #00ffc7;
}

#player2ScreenText {
  --textShadowColor: #00efff;
  --endTextColor: #00efff;
}

.playerAnimate {
  color: var(--textColor);
  animation: playerAnimation infinite;
  animation-duration: 3s;
}

@keyframes playerAnimation {

  0%,
  10%,
  40%,
  70%,
  100% {
    color: var(--textColor);
    text-shadow: 0 0 10px var(--baseColor);
  }

  20%,
  30%,
  50%,
  60% {
    color: var(--endTextColor);
    text-shadow: 0 0 10px var(--textShadowColor),
      0 0 20px var(--textShadowColor), 0 0 40px var(--textShadowColor);
  }
}

.gameProgressWinner {
  animation: none;
  text-shadow: 0 0 10px #444444, 0 0 10px #444444, 0 0 20px #444444,
    0 0 40px #444444;
  color: #f7ef8a;
  transition: 3s;
}

.gameEndWinner {
  animation: none;
  text-shadow: 0 0 10px #f7ef8a, 0 0 10px #f7ef8a, 0 0 20px #f7ef8a,
    0 0 40px #f7ef8a;
  color: #f7ef8a;
}

.gameEndLoser {
  animation: none;
  text-shadow: 0 0 10px #444444, 0 0 10px #444444, 0 0 20px #444444,
    0 0 40px #444444;
  color: #900603;
}

#shakeAllText {
  width: 100px;
}

#shakeAll {
  --glowColor: #f082ff;
  --glowSpreadColor: rgb(232, 84, 255, 0.781);
  --btnColor: #2b2b2b;
  --glowClickColor: #f6bfff;
  --leftGradientColor: #008cff;
  --leftGradientShadowColor: #aad9ff;
  --leftGradientSpreadColor: rgba(78, 176, 255, 0.78);
  --rightGradientColor: #e100ff;
  --rightGradientShadowColor: #f5aaff;
  --rightGradientSpreadColor: rgba(235, 85, 255, 0.78);
  z-index: 1;
}

.player2btn,
.player2ClickedBtn {
  --glowColor: #00efff;
  --glowSpreadColor: rgba(78, 176, 255, 0.78);
  --btnColor: #2b2b2b;
  --glowClickColor: #003bff;
  --leftGradientColor: #0a0085;
  --leftGradientShadowColor: #aad9ff;
  --leftGradientSpreadColor: rgba(78, 176, 255, 0.78);
  --rightGradientColor: #6800ff;
  --rightGradientShadowColor: #aad9ff;
  --rightGradientSpreadColor: rgba(78, 176, 255, 0.78);
}

.player1btn,
.player1ClickedBtn {
  --glowColor: #00ffc7;
  --glowSpreadColor: rgba(64, 255, 213, 0.78);
  --btnColor: #2b2b2b;
  --glowClickColor: #36ec3d;
  --leftGradientColor: #4d007e;
  --leftGradientShadowColor: #ff7eb8;
  --leftGradientSpreadColor: rgba(64, 255, 213, 0.78);
  --rightGradientColor: #008501;
  --rightGradientShadowColor: #ff7eb8;
  --rightGradientSpreadColor: rgba(255, 79, 158, 0.78);
}

.btnHide {
  --glowColor: #8a8a8a;
  --glowSpreadColor: rgba(138, 138, 138, 0.78);
  --btnColor: transparent;
  --glowClickColor: none;
  --leftGradientColor: none;
  --leftGradientShadowColor: none;
  --leftGradientSpreadColor: none;
  --rightGradientColor: none;
  --rightGradientShadowColor: none;
  --rightGradientSpreadColor: none;
}

.pressToShakeAllbtn {
  cursor: pointer;
  border: 0.1rem solid var(--glowColor);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: var(--glowColor);
  background: var(--btnColor);
  font-size: 1.2rem;
  outline: none;
  box-shadow: 0 0 1rem 0.25rem var(--glowColor),
    0 0 4rem 1rem var(--glowSpreadColor),
    inset 0 0 0.5rem 0.25rem var(--glowColor);
  text-shadow: 0 0 0.5rem var(--glowColor);
  position: relative;
  transition: all 0.5s;
}

.pressToShakeAllbtn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glowSpreadColor);
  filter: blur(2rem);
  opacity: 0.7;
  transform: perspective(2rem) rotateX(35deg) scale(1, 0.6);
}

.pressToShakeAllbtn:hover {
  color: var(--btnColor);
  background: linear-gradient(45deg,
      var(--leftGradientColor),
      var(--rightGradientColor));
  box-shadow: 0 0 0.6rem 0.25rem var(--glowColor),
    0 0 4rem 2rem var(--glowSpreadColor),
    inset 0 0 0.75rem 0.25rem var(--glowColor);
}

.pressToShakeAllbtn:hover::after {
  position: absolute;
  content: "";
  top: 120%;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,
      var(--leftGradientSpreadColor),
      var(--rightGradientSpreadColor));
  filter: blur(2rem);
  opacity: 0.7;
  transform: perspective(2rem) rotateX(35deg) scale(1, 0.6);
}

.pressToShakeAllbtn:active {
  box-shadow: 0 0 0.6rem 0.25rem var(--glowClickColor),
    0 0 2.5rem 1rem var(--glowSpreadColor),
    inset 0 0 0.5rem 0.25rem var(--glowClickColor);
  font-weight: 600;
}

#playersContainer {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player1Container,
.player2Container {
  display: flex;
  gap: 30px;
  width: 45%;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  place-items: center;
  gap: 40px;
  height: 150px;
}

.dice {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 1.3s ease;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid #f6f3f0;
  transform-style: preserve-3d;
  background: linear-gradient(145deg, #dddbd8, #fff);
}

.face::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #f6f3f0;
  transform: translateZ(-1px);
}

.face::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #131210;
}

.frontOne {
  transform: translateZ(50px);
}

.backSix {
  transform: translateZ(-50px) rotateX(180deg);
}

.topFive {
  transform: rotateX(90deg) translateZ(50px);
}

.bottomTwo {
  transform: rotateX(-90deg) translateZ(50px);
}

.leftFour {
  transform: rotateY(-90deg) translateZ(50px);
}

.rightThree {
  transform: rotateY(90deg) translateZ(50px);
}

.frontOne::after {
  width: 30px;
  height: 30px;
  background: #f63330;
  margin: -15px 0 0 -15px;
}

.backSix::after {
  margin: -35px 0 0 -30px;
  box-shadow: 40px 0, 0 25px, 40px 25px, 0 50px, 40px 50px;
}

.topFive::after {
  margin: -35px 0 0 -35px;
  box-shadow: 26px 26px, 52px 52px, 52px 0, 0 52px, 52px 0;
}

.bottomTwo::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px;
}

.leftFour::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 0, 40px 40px, 0 40px;
}

.rightThree::after {
  margin: -35px 0 0 -35px;
  box-shadow: 25px 25px, 50px 50px;
}

.diceFireContainer1,
.diceFireContainer2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 10px;
  top: -20px;
  gap: 40px;
  justify-content: center;
  z-index: 1;
}

.diceFireContainer1 .fire {
  --fireColor: #00ffc7;
  --fireSpreadColor: rgba(64, 255, 213, 0.78);
}

.diceFireContainer2 .fire {
  --fireColor: #00efff;
  --fireSpreadColor: rgba(78, 176, 255, 0.78);
}

.fire {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100%;
}

.fire::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background: radial-gradient(circle at center,
      var(--fireColor),
      var(--fireSpreadColor));
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.25rem var(--fireSpreadColor);
}

#player1OptionContainer,
#player2OptionContainer {
  display: flex;
  width: 100%;
  text-align: center;
  gap: 60px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#player1ScoreBoard {
  --lightColor: #00ffc7;
}

#player2ScoreBoard {
  --lightColor: #00efff;
}

#winScoreBoard {
  --lightColor: ;
}

#player1ScoreBoard,
#player2ScoreBoard {
  display: flex;
  width: 200px;
  padding: 10px 0px;
  text-align: center;
  align-items: center;
  background: transparent;
  color: var(--lightColor);
  font-size: 1.5rem;
  border: 2px solid var(--lightColor);
  border-radius: 4px;
  text-shadow: 0 0 0.5rem var(--lightColor);
  transform-style: preserve-3d;
  transition: 1s;
}

#p1,
#p2 {
  width: 60%;
}

.score {
  width: 40%;
}

.winGameBoardStyle {
  animation: winGameAnimation 2s linear forwards;
}

@keyframes winGameAnimation {
  0% {
    scale: 1;
  }
}

#rollText {
  justify-self: flex-end;
  font-size: 2rem;
  height: 50px;
  color: transparent;
  padding: 0 1rem;
  margin-top: 50px;
  background: linear-gradient(to right, white, white, black, white, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: shiningAnimation 4s linear infinite;
  text-shadow: 0 0 0.5rem black;
}

@keyframes shiningAnimation {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

.appear {
  animation: appearAnimation 3s linear infinite;
}

.player1Container {
  animation-delay: 1s;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  90% {
    opacity: 1;
  }

  0%,
  100% {
    transform: scaleX(-1) rotateZ(30deg);
  }

  0.5%,
  99.5% {
    transform: rotate(0);
  }
}

@media (max-width: 1380px) {
  #playersContainer {
    flex-direction: column;
  }

  #player1ScreenText,
  #player2ScreenText {
    height: 100px;
    font-size: 4rem;
    text-align: center;
  }

  #shakeAll {
    margin-bottom: 30px;
  }
}

#videoBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
  filter: blur(6px);
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}